dist
node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.local
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock

docker-compose.dev.yaml
docker-compose.yaml
dockerfile
dockerfile.dev
.dockerignore
.gitignore
.prettierrc
.prettierignore
.vscode
.eslintrc.json
.eslintignore
.eslintrc.json